<form method="post" action="{{ path('admin_playlist_delete', {'id': playlist.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playlist.id) }}">
    <button class="admin-btn">Supprimer</button>
</form>
