{% extends 'base.html.twig' %}

{% block title %}Playlist index{% endblock %}

{% block main %}

        <div class="admin-index">

                <div class="top">

                        <h1>Index des Playlists</h1>

                        <a href="{{ path('admin_playlist_new') }}">Création d'une nouvelle Playlist</a>

                </div>

                <table class="table">
                        <thead>
                        <tr class="tr">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Utilisateur</th>
                                <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for playlist in playlists %}
                                <tr>
                                        <td>{{ playlist.id }}</td>
                                        <td>{{ playlist.name }}</td>
                                        <td>
                                                {% for user in playlist.user %}
                                                        {{ user.name }},
                                                {% endfor %}
                                        </td>
                                        <td>
                                                <a href="{{ path('admin_playlist_show', {'id': playlist.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                                <a href="{{ path('admin_playlist_edit', {'id': playlist.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                </tr>
                        {% else %}
                                <tr>
                                        <td colspan="3">no records found</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>


        </div>

{% endblock %}
