{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-main">

                <div class="top">

                        <h1>Création d'une nouvelle Playlist</h1>

                        <a href="{{ path('admin_playlist_index') }}">retour à la liste</a>

                </div>

                {{ include('admin/playlist/_form.html.twig') }}

        </div>
{% endblock %}
