{% extends 'base.html.twig' %}

{% block main %}

    <div class="admin-show">

        <div class="top">

            <h1>Playlist</h1>

            <a href="{{ path('admin_playlist_index') }}">retour à la liste</a>

        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ playlist.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ playlist.name }}</td>
            </tr>
            <tr>
                <th>Musique</th>
                <td>
                    {% for song in playlist.songs %}
                        {{ song.name}} <br>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="link">

            <button class="admin-btn"><a href="{{ path('admin_playlist_edit', {'id': playlist.id}) }}">édition</a></button>

            {{ include('admin/playlist/_delete_form.html.twig') }}

        </div>

    </div>

{% endblock %}
