<form method="post" action="{{ path('admin_song_delete', {'id': song.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
    <button class="admin-btn">Supprimer</button>
</form>
