{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-index">

                <div class="top">

                        <h1>Index des musiques</h1>

                        <a href="{{ path('admin_song_new') }}">Créer nouvelle musique</a>

                </div>

                <table class="table">
                        <thead>
                        <tr class="tr">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Artistes</th>
                                <th>Durée</th>
                                <th>Genres</th>
                                <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in songs %}
                                <tr>
                                        <td>{{ song.id }}</td>
                                        <td>{{ song.name }}</td>
                                        <td>
                                                {% for artist in song.artists %}
                                                        {{ artist.name }},
                                                {% endfor %}
                                        </td>
                                        <td>{{ song.duration ? song.duration|date('H:i:s') : '' }}</td>
                                        <td>{% for genre in song.genres %}
                                                        {{ genre.name }},
                                                {% endfor %}
                                        </td>
                                        <td>
                                                <a href="{{ path('admin_song_show', {'id': song.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                                <a href="{{ path('admin_song_edit', {'id': song.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                </tr>
                        {% else %}
                                <tr>
                                        <td colspan="4">no records found</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>

        </div>

{% endblock %}
