{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-main">

                <div class="top">

                        <h1>Création d'une Musique</h1>
                        <a href="{{ path('admin_song_index') }}">retour à la liste</a>

                </div>

                {{ include('admin/song/_form.html.twig') }}

        </div>
{% endblock %}
