{% extends 'base.html.twig' %}

{% block title %}Song{% endblock %}

{% block main %}

        <div class="admin-show">

                <div class="top">

                        <h1>Musique</h1>

                        <a href="{{ path('admin_song_index') }}">retour à la liste</a>

                </div>

                <table class="table">
                        <tbody>
                        <tr>
                                <th>Id</th>
                                <td>{{ song.id }}</td>
                        </tr>
                        <tr>
                                <th>Nom</th>
                                <td>{{ song.name }}</td>
                        </tr>
                        <tr>
                                <th>Durée</th>
                                <td>{{ song.duration ? song.duration|date('H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                                <th>Genres</th>
                                <td>
                                        {% for genre in song.genres %}
                                                {{ genre.name }},
                                        {% endfor %}
                                </td>
                        </tr>
                        <tr>
                                <th>Artistes</th>
                                <td>
                                        {% for artist in song.artists %}
                                                {{ artist.name}},
                                        {% endfor %}
                                </td>
                        </tr>
                        <tr>
                                <th>Album</th>
                                <td>
                                        {% for album in song.album %}
                                                {{ album.name}},
                                        {% endfor %}
                                </td>
                        </tr>
                        </tbody>
                </table>

               <div class="link">

                       <button class="admin-btn"><a href="{{ path('admin_song_edit', {'id': song.id}) }}">éditer</a></button>

                       {{ include('admin/song/_delete_form.html.twig') }}

               </div>

        </div>

{% endblock %}
