{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

        <section class="login-form container-fluid">
                <form method="post">
                        {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {#                            {% if app.user %} #}
                        {#                                <div class="mb-3"> #}
                        {#                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> #}
                        {#                                </div> #}
                        {#                            {% endif %} #}
                        <div class="img"><img src="{{ asset('build/images/logo_no_bg.png') }}" alt=""></div>

                        <h1>Écoutez vos musiques préférées en illimité et en toute simplicité !</h1>
                        <div class="input">

                                <label for="inputEmail">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="input" autocomplete="email" required autofocus>
                                <label for="inputPassword">Mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="input"
                                       autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">

                                <div class="checkbox mb-3">
                                        <label>
                                                <input type="checkbox" name="_remember_me">
                                                Se rappeler de moi
                                        </label>
                                </div>

                                <p>Vous ne disposez pas encore de compte ? <a href="/register">INSCRIPTION</a></p>

                                <div class="button">
                                        <button class="btn btn-lg btn-primary" type="submit">
                                                CONNEXION
                                        </button>
                                </div>

                                <p class="copyright">Copyright © 2022 Zikmu | All right reserved</p>
                        </div>
                </form>
        </section>

{% endblock %}
