{% extends 'base.html.twig' %}

{% block main %}

        {% for like in likes %}
                {% for album in like.albums %}
                       {{ album.name}}
                {% endfor %}
        {% endfor %}

{% endblock %}


