{% extends 'base.html.twig' %}

{% block main %}

        <div class="genre-container">

                <div class="row">
                        <div class="col-12">
                                <h2>Genres ({{ genres | length }})</h2>
                        </div>
                </div>

                <div class="row">
                        {% for genre in genres %}
                                <div class="col-12 col-md-6 col-lg-3">
                                        <a href="{{ path('genre', {'id': genre.id }) }}">
                                                <div class="infos">
                                                        <div class="img">
                                                                <img src="https://png.clipart.me/previews/f8a/the-trend-of-music-illustration-vector-material-5-8195.jpg"
                                                                     alt="">
                                                        </div>
                                                        <p>{{ genre.name }}</p>
                                                </div>
                                        </a>
                                </div>
                        {% endfor %}
                </div>

        </div>


{% endblock %}


