{% extends 'base.html.twig' %}

{% block main %}

        <div class="genre-container">

                <h2>{{ genre.name }}</h2>

                <div class="albums-container">
                        <div class="row">
                                <div class="col-12">
                                        <h3>Albums de ce genre ({{ genre.albums | length }})</h3>
                                </div>
                        </div>

                        <div class="row">
                                {% for album in genre.albums %}
                                        <div class="col-12 col-md-5 col-lg-2">
                                                <a href="{{ path('album', {'id': album.id }) }}">
                                                        <div class="albums">
                                                                <div class="img">
                                                                        <img src="{{ album.pathImg }}">
                                                                </div>
                                                                <p> {{ album.name }}</p>
                                                                <p> {{ album.publishedAt | date ("Y") }} </p>
                                                        </div>
                                                </a>
                                        </div>
                                {% endfor %}
                        </div>
                </div>

                <div class="artists-container">
                        <div class="row">
                                <div class="col-12">
                                        <h3>Artiste de ce genre ({{ genre.artists | length }}) </h3>
                                </div>
                        </div>

                        <div class="row">
                                {% for artist in genre.artists %}
                                        <div class="col-12 col-md-5 col-lg-2">
                                                <a href="{{ path('artist', {'id': artist.id }) }}">
                                                        <div class="artists">
                                                                <div class="img">
                                                                        <img src="{{ artist.pathImg }}">
                                                                </div>
                                                                <p> {{ artist.name }}</p>
                                                                <p> {{ artist.albums | length }} albums </p>
                                                        </div>
                                                </a>
                                        </div>
                                {% endfor %}
                        </div>
                </div>

        </div>

{% endblock %}


