{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
        <div class="register container-fluid">

                <h1>Inscription</h1>

                <div class="form">

                        {{ form_start(registrationForm) }}

                        <p>{{ form_row(registrationForm.name) }}</p>
                        <p>{{ form_row(registrationForm.email) }}</p>
                        <p>{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}</p>
                        <p class="conditions">
                                En cliquant sur "Inscription", vous acceptez les <br>
                                <a href="#">CONDITIONS GÉNÉRALES D'UTILISATION</a>
                                et la<br>
                                <a href="#">POLITIQUE DE PROTECTION DES DONNÉES</a>
                        </p>

                        <button type="submit" class="button">INSCRIPTION</button>

                        {{ form_end(registrationForm) }}

                </div>

                <p class="connexion">Déjà inscrit ? <a href="/">CONNEXION</a></p>

        </div>

{% endblock %}
