<form method="post" action="{{ path('admin_genre_delete', {'id': genre.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ genre.id) }}">
    <button class="admin-btn">Supprimer</button>
</form>
