{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-index">

                <div class="top">

                        <h1>Index des Genres</h1>

                        <a href="{{ path('admin_genre_new') }}">Créer nouveau genre</a>

                </div>

                <table class="table">
                        <thead>
                        <tr class="tr">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for genre in genres %}
                                <tr>
                                        <td>{{ genre.id }}</td>
                                        <td>{{ genre.name }}</td>
                                        <td>
                                                <a href="{{ path('admin_genre_show', {'id': genre.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                                <a href="{{ path('admin_genre_edit', {'id': genre.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                </tr>
                        {% else %}
                                <tr>
                                        <td colspan="3">no records found</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>


        </div>

{% endblock %}
