{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-show">

                <div class="top">

                        <h1>Genre</h1>

                        <a href="{{ path('admin_genre_index') }}">retour à la liste</a>

                </div>


                <table class="table">
                        <tbody>
                        <tr>
                                <th>Id</th>
                                <td>{{ genre.id }}</td>
                        </tr>
                        <tr>
                                <th>Nom</th>
                                <td>{{ genre.name }}</td>
                        </tr>
                        </tbody>
                </table>

                <div class="link">

                        <button class="admin-btn"><a href="{{ path('admin_genre_edit', {'id': genre.id}) }}">édition</a></button>

                        {{ include('admin/genre/_delete_form.html.twig') }}

                </div>


        </div>

{% endblock %}
