.admin-main {
        background-color: $gris;
        color: white;
        padding: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;

        h1 {
                color: $rose;
        }

        .top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                        align-items: flex-end;
                        margin-top: 10px;
                        font-size: 30px;
                }
        }
}