.form-container {
        background-color: $gris;
        color: white;
        padding: 40px;
        width: 100%;

        label {
                display: flex;
                flex-direction: column;
                margin: 20px auto;
                text-decoration: underline;
                font-weight: bold;
                color: $bleu;
        }

        input {
                border: 2px solid black;
                border-radius: 10px;
                text-align: center;
                padding: 10px;
                width: 40%;
        }

        select {
                border: 2px solid black;
                border-radius: 10px;
                text-align: center;
                padding: 20px;
                width: 60%;
        }

        .btn-container {
                margin: 20px auto;
        }

        span {
                select {
                        border: 2px solid black;
                        border-radius: 10px;
                        text-align: center;
                        padding: 20px;
                        width: 20%;
                }
        }
}

h1 {
        color: $rose;
}

.top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
                align-items: flex-end;
                margin-top: 10px;
                font-size: 30px;
                color: $rose;
                text-decoration: none;
        }
}

button {
        margin-top: 20px;
}

