.admin-index {
        background-color: $gris;
        color: white;
        padding: 40px;
        width: 100%;

        h1 {
                color: $rose;
        }

        .top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                        align-items: flex-end;
                        margin-top: 10px;
                        font-size: 30px;
                }
        }

        a {
                color: $rose;
                text-decoration: none;
        }

        .table {
                color: white;
                margin-top: 20px;

                .tr {
                        background: rgb(0,0,0);
                        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(60,0,59,1) 15%, rgba(195,34,186,1) 50%, rgba(60,0,59,1) 75%, rgba(0,0,0,1) 100%);
                        font-weight: bold;
                        color: white;
                }

                tr:nth-child(even) {
                        background-color: $gris;
                }

                tr:nth-child(odd) {
                        background-color: black;
                }

                td {
                        border: none;
                        margin: 0 10px;
                        padding: 10px;
                }

        }
}