.admin-show {
        background-color: $gris;
        color: white;
        padding: 40px;
        margin: 0 auto;
        width: 100%;

        .top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                a {
                        color: $rose;
                        margin-top: 10px;
                        font-size: 30px;
                        text-decoration: none;
                }
        }

        h1 {
                color: $rose;
        }

        .link {
                display: flex;
                flex-direction: row;
                margin: auto;

                a {
                        text-decoration: none;
                        color: white;
                }

                .admin-btn {
                        text-decoration: none;
                        padding: 10px;
                        background-color: $rose;
                        color: white;
                        border: 2px solid white;
                        border-radius: 10px;
                        margin-right: 10px;
                }
        }

        .table {
                color: white;
                margin-top: 20px;
        }

}