{% extends 'base.html.twig' %}

{% block main %}

<div class="artist-show-container">

        <div class="artist-infos">

                <div class="row">

                        <div class="col-12 col-md-4">
                                <div class="img">
                                        <img src="{{ artist.pathImg }}">
                                </div>
                        </div>

                        <div class="col-12 col-md-8">
                                <div class="infos">
                                        <h3>{{ artist.name }}</h3>
                                        <p>
                                                {% for genre in artist.genres %}
                                                        <a href="{{ path('genre', {'id': genre.id}) }}">{{ genre.name }}
                                                                ,</a>
                                                {% endfor %}
                                        </p>
                                        <p>{{ artist.albums | length }} Albums</p>
                                        <p>{{ artist.songs | length }} Chansons</p>
                                        <p>{{ artist.likes | length }} likes</p>
                                </div>
                        </div>
                </div>
        </div>


        <div class="button">

                <button class="play">Lecture</button>
                <button class="like"><i class="fa-solid fa-heart"></i></button>

        </div>

        <div class="artist-song">
                <div class="row">
                        <div class="col-12">
                                <h2>Singles</h2>
                        </div>
                </div>

                <table class="table">
                        <thead>
                        <tr>
                                <th>Lecture</th>
                                <th>J'aime</th>
                                <th>#</th>
                                <th>Titres</th>
                                <th>Durée</th>
                                <th>Likes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in artist.songs |slice(1, 5) %}
                                <tr class="tr">
                                        <td>
                                                <button><i class="fa-solid fa-circle-play"></i></button>
                                        </td>
                                        <td>
                                                <button><i class="fa-solid fa-heart"></i></button>
                                        </td>
                                        <td>Number</td>
                                        <td>{{ song.name }}</td>
                                        <td> {{ song.duration | date ("m:s") }}</td>
                                        <td>{{ song.likes | length }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>

        </div>

        <div class="albums-artist">
                <div class="row">
                        <div class="col-12">
                                <h2>Discographie</h2>
                        </div>
                </div>
                <div class="row">
                        {% for album in artist.albums %}
                                <div class="col-12 col-md-5 col-lg-2">
                                        <a href="{{ path('album', {'id': album.id }) }}">
                                                <div class="albums">
                                                        <div class="img">
                                                                <img src="{{ album.pathImg }}">
                                                        </div>
                                                        <p> {{ album.name }}</p>
                                                        <p> {{ album.publishedAt | date ("Y") }}</p>
                                                </div>
                                        </a>
                                </div>
                        {% endfor %}
                </div>

        </div>


        {% endblock %}


