{% extends 'base.html.twig' %}

{% block main %}

        <div class="artist-container">
                <div class="row">
                        <div class="col-12">
                                <h2>Artistes ( {{ artists | length }} )</h2>
                        </div>
                </div>
                <div class="row">
                        {% for artist in artists %}
                                <div class="col-12 col-md-6 col-lg-3">
                                        <a href="{{ path('artist', {'id': artist.id }) }}">
                                                <div class="artists">
                                                        <div class="img">
                                                                <img src="{{ artist.pathImg }}">
                                                        </div>
                                                        <p> {{ artist.name }}</p>
                                                        <p>
                                                                {% for genre in artist.genres %}
                                                                        {{ genre.name }}
                                                                {% endfor %}
                                                        </p>
                                                </div>
                                        </a>

                                </div>
                        {% endfor %}
                </div>
        </div>
{% endblock %}



