{% extends 'base.html.twig' %}

{% block main %}

        <div class="playlists-container">
                <div class="row">
                        <div class="col-12">
                                <h2>Playlists ( {{ playlists | length }} )</h2>
                        </div>
                </div>
                <div class="row">
                        {% for playlist in playlists %}
                                <div class="col-12 col-md-6 col-lg-3">
                                        <a href="{{ path('playlist', {'id': playlist.id }) }}">
                                                <div class="playlists">
                                                        <div class="img">
                                                                <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2021/02/8efd3cdb-d4c8-40c9-bc53-d92afbb28ab0/801x410_avoir20ans-png.jpg">
                                                        </div>
                                                        <p> {{ playlist.name }}</p>
                                                        {% for user in playlist.user %}
                                                                <p> {{ user.name }} </p>
                                                        {% endfor %}
                                                </div>
                                        </a>

                                </div>
                        {% endfor %}
                </div>
        </div>
{% endblock %}


