{% extends 'base.html.twig' %}

{% block main %}

        <div class="playlist-show-container">

                <div class="playlist-infos">

                        <div class="row">

                                <div class="col-12 col-md-6">
                                        <div class="img">
                                                <img src="https://cdn.radiofrance.fr/s3/cruiser-production/2021/02/8efd3cdb-d4c8-40c9-bc53-d92afbb28ab0/801x410_avoir20ans-png.jpg">
                                        </div>
                                </div>

                                <div class="col-12 col-md-6">
                                        <div class="infos">
                                                <h3>{{ playlist.name }}</h3>
                                                <p>{{ playlist.songs | length }} Chansons</p>
                                                <p>{{ playlist.likes | length }} likes</p>
                                                <p>Créé par : {{ playlist.user.name }}</p>
                                        </div>
                                </div>
                        </div>
                </div>


                <div class="button">

                        <button class="play">Lecture</button>
                        <button class="like"><i class="fa-solid fa-heart"></i></button>

                </div>

                <table class="table">
                        <thead>
                        <tr>
                                <th>Lecture</th>
                                <th>J'aime</th>
                                <th>#</th>
                                <th>Titres</th>
                                <th>Durée</th>
                                <th>Likes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in playlist.songs %}
                                <tr class="tr">
                                        <td>
                                                <button><i class="fa-solid fa-circle-play"></i></button>
                                        </td>
                                        <td>
                                                <button><i class="fa-solid fa-heart"></i></button>
                                        </td>
                                        <td>Number</td>
                                        <td>{{ song.name }}</td>
                                        <td> {{ song.duration | date ("m:s") }}</td>
                                        <td>{{ song.likes | length }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>

        </div>

{% endblock %}

