$bleu: #00f0fa;
$rose: #fa00cf;
$gris: #181818;

.admin-btn {
        text-decoration: none;
        padding: 10px;
        background-color: $rose;
        color: white;
        border: 2px solid white;
        border-radius: 10px;
        margin-right: 10px;
}



h1, a, button {
        font-family: "Comic Sans MS", serif;
}

p {
        font-family: 'Fredoka', sans-serif;
}

.body {
        display: flex;
}