.nav-container {
        background-color: black;
        min-width: 20vw;
        min-height: 100vh;
        color: white;

        a {
                color: white;
                text-decoration: none;
                font-size: x-large;
        }

        .nav-item {
                padding: 10px;
                background-color: black;
                border-top: 1px solid white;
                text-align: center;

                &:hover {
                        border-top: 1px solid $bleu;
                        background: rgb(24,20,20);
                        background: linear-gradient(90deg, rgba(24,20,20,1) 0%, rgba(20,78,80,1) 36%, rgba(0,240,250,1) 100%);
                }

                &:active {
                        border-top: 1px solid $bleu;
                        background: rgb(24,20,20);
                        background: linear-gradient(90deg, rgba(24,20,20,1) 30%, rgba(20,78,80,1) 66%, rgba(0,240,250,1) 100%);
                }
        }

        .img {
                margin: 20px 20px 50px 20px;
                text-align: center;

                img {
                        width: 80%;
                }
        }
}