{% extends 'base.html.twig' %}

{% block main %}

        <div class="album-show-container">

                <div class="album-infos">

                        <div class="row">

                                <div class="col-12 col-md-4">
                                        <div class="img">
                                                <img src="{{ album.pathImg }}">
                                        </div>
                                </div>

                                <div class="col-12 col-md-8">
                                        <div class="infos">
                                                <h3>{{ album.name }}</h3>
                                                <p>
                                                        {% for artist in album.artists %}
                                                                <a href="{{ path('artist', {'id': artist.id}) }}">{{ artist.name }},</a>
                                                        {% endfor %}
                                                </p>
                                                <p>{{ album.songs | length }} Chansons</p>
                                                <p>{{ album.publishedAt | date ("d/m/Y") }}</p>
                                                <p>{{ album.likes | length }} likes</p>
                                        </div>
                                </div>
                        </div>
                </div>


                <div class="button">

                        <button class="play">Lecture</button>
                        <a href="../../Php_scripts/like.php?t=1&id={{ path('album', {'id': album.id}) }}"><button class="like"><i class="fa-solid fa-heart"></i></button></a>

                </div>

                <table class="table">
                        <thead>
                        <tr>
                                <th>Lecture</th>
                                <th>J'aime</th>
                                <th>#</th>
                                <th>Titres</th>
                                <th>Durée</th>
                                <th>Likes</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.songs %}
                                <tr class="tr">
                                        <td>
                                                <button><i class="fa-solid fa-circle-play"></i></button>
                                        </td>
                                        <td>
                                                <button><i class="fa-solid fa-heart"></i></button>
                                        </td>
                                        <td>Number</td>
                                        <td>{{ song.name }}</td>
                                        <td> {{ song.duration | date ("m:s") }}</td>
                                        <td>{{ song.likes | length }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>

                <div class="albums-container">
                        <div class="row">
                                <div class="col-12">
                                        <h2>Discographie </h2>
                                </div>
                        </div>

                        <div class="row">
                                {% for artist in album.artists %}
                                        {% for album in artist.albums %}
                                                <div class="col-12 col-md-5 col-lg-2">
                                                        <a href="{{ path('album', {'id': album.id }) }}">
                                                                <div class="albums">
                                                                        <div class="img">
                                                                                <img src="{{ album.pathImg }}">
                                                                        </div>
                                                                        <p> {{ album.name }}</p>
                                                                        <p> {{ album.publishedAt | date ("Y") }} </p>
                                                                </div>
                                                        </a>
                                                </div>
                                        {% endfor %}
                                {% endfor %}
                        </div>
                </div>

        </div>

{% endblock %}


