{% extends 'base.html.twig' %}

{% block main %}

        <div class="album-container">
                <div class="row">
                        <div class="col-12">
                                <h2>Albums ( {{ albums | length }} )</h2>
                        </div>
                </div>
                <div class="row">
                        {% for album in albums %}
                                <div class="col-12 col-md-6 col-lg-3">
                                        <a href="{{ path('album', {'id': album.id }) }}">
                                                <div class="albums">
                                                        <div class="img">
                                                                <img src="{{ album.pathImg }}">
                                                        </div>
                                                        <p> {{ album.name }}</p>
                                                        <p>
                                                                {% for artist in album.artists %}
                                                                        {{ artist.name }}
                                                                {% endfor %}
                                                        </p>
                                                        <p>
                                                                {% for genre in album.genres %}
                                                                        {{ genre.name }}
                                                                {% endfor %}
                                                        </p>
                                                        <p>{{ album.publishedAt | date ("d/m/Y") }}</p>
                                                </div>
                                        </a>

                                </div>
                        {% endfor %}
                </div>
        </div>
{% endblock %}



