.playlist-show-container {
        background-color: #111111;
        padding: 80px;
        color: white;
        width: 100vw;

        .playlist-infos {

                .img {
                        margin-right: 40px;

                        img {
                                max-width: 100%;
                        }
                }

                .infos {
                        h3 {
                                font-weight: bold;
                                color: $bleu;
                        }
                }
        }

        .button {
                margin-top: 20px;

                .play {
                        background-color: $bleu;
                        border: 1px solid black;
                        border-radius: 20px;
                        padding: 5px 20px;
                }

                .like {
                        background-color: $bleu;
                        border: 2px solid black;
                        border-radius: 50%;
                        margin-left: 10px;

                        i {
                                color: black;
                        }
                }
        }

        .table {
                color: white;
                margin: 40px 0;

                .tr:hover {
                        background-color: #3d3d3d;
                }

                td {
                        border: none;
                }

                button {
                        background-color: white;
                        border: 2px solid white;
                        border-radius: 50%;
                        margin: 0;

                        &:hover {
                                background-color: $bleu;
                        }

                        i {
                                color: black;
                        }
                }
        }
}