<form method="post" action="{{ path('admin_album_delete', {'id': album.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
    <button class="admin-btn">Supprimer</button>
</form>
