<div class="form-container">

        {{ form_start(form) }}

        <div class="row">

                <div class="col-12  col-md-6">
                        {{ form_row(form.name) }}
                </div>

                <div class="col-12  col-md-6">
                        <span>{{ form_row(form.publishedAt) }}</span>
                </div>

        </div>

        <div class="row">

                <div class="col-12  col-md-6">
                        {{ form_row(form.pathImg) }}
                </div>

                <div class="col-12  col-md-6">
                        {{ form_row(form.artists) }}
                </div>

        </div>

        <div class="row">

                <div class="col-12  col-md-6">
                        {{ form_row(form.songs) }}
                </div>

        </div>

        <button class="admin-btn">{{ button_label|default('Sauvegarder') }}</button>

        {{ form_end(form) }}

</div>

