{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-main">

                <div class="top">
                        <h1>Editon d'un Album</h1>
                        <a href="{{ path('admin_album_index') }}">retour à la liste</a>
                </div>

                {{ include('admin/album/_delete_form.html.twig') }}
                {{ include('admin/album/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

        </div>

{% endblock %}
