{% extends 'base.html.twig' %}

{% block main %}
        <div class="admin-index">

                <div class="top">

                        <h1>Index des Albums</h1>

                        <a href="{{ path('admin_album_new') }}">Créer nouvel album</a>

                </div>

                <table class="table">
                        <thead>
                        <tr class="tr">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Date de parution</th>
                                <th>Artistes</th>
                                <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for album in albums %}
                                <tr>
                                        <td>{{ album.id }}</td>
                                        <td>{{ album.name }}</td>
                                        <td>{{ album.publishedAt ? album.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                                        <td>
                                                {% for artist in album.artists %}
                                                        {{ artist.name }},
                                                {% endfor %}
                                        </td>
                                        <td>
                                                <a href="{{ path('admin_album_show', {'id': album.id}) }}"><i class="fa-solid fa-eye"></i></a>
                                                <a href="{{ path('admin_album_edit', {'id': album.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                </tr>
                        {% else %}
                                <tr>
                                        <td colspan="5">no records found</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>

        </div>

{% endblock %}
