{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-main">

                <div class="top">

                        <h1>Créer nouvel Album</h1>
                        <a href="{{ path('admin_album_index') }}">retour à la liste</a>

                </div>

                {{ include('admin/album/_form.html.twig') }}

        </div>

{% endblock %}
