{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-show">

                <div class="top">

                        <h1>Album</h1>

                        <a href="{{ path('admin_album_index') }}">retour à la liste</a>

                </div>

                <table class="table">
                        <tbody>
                        <tr>
                                <th>Id</th>
                                <td>{{ album.id }}</td>
                        </tr>
                        <tr>
                                <th>Nom</th>
                                <td>{{ album.name }}</td>
                        </tr>
                        <tr>
                                <th>Date de parution</th>
                                <td>{{ album.publishedAt ? album.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                                <th>Lien vers l'image</th>
                                <td>{{ album.pathImg }}</td>
                        </tr>
                        <tr>
                                <th>Artistes</th>
                                <td>
                                        {% for artist in album.artists %}
                                                {{ artist.name}},
                                        {% endfor %}
                                </td>
                        </tr>
                        <tr>
                                <th>Musiques</th>
                                <td>
                                        {% for song in album.songs %}
                                                {{ song.name}} <br>
                                        {% endfor %}
                                </td>
                        </tr>
                        </tbody>
                </table>

                <div class="link">

                       <button class="admin-btn"><a href="{{ path('admin_album_edit', {'id': album.id}) }}">édition</a></button>

                        {{ include('admin/album/_delete_form.html.twig') }}

                </div>

        </div>

{% endblock %}
