<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <link rel="icon"
              href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
                {{ encore_entry_link_tags('styles') }}
        {% endblock %}
</head>

<body>
{% block body %}

        <div class="body">

                {% block  nav %}

                        {% if  "admin" in app.request.get('_route') %}

                                <div class="nav-container-admin">

                                        <div class="img">
                                                <a href="{{ path('like') }}"><img src="{{ asset('build/images/zikmu_logo.png') }}" alt=""></a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('admin_album_index') }}">Index des Albums</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('admin_artist_index') }}">Index des Artistes</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('admin_genre_index') }}">Index des Genres</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('admin_playlist_index') }}">Index des Playlists</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('admin_song_index') }}">Index des Musiques</a>
                                        </div>

                                        {% if app.user %}
                                                <div class="nav-item">
                                                        <a href="{{ path('app_logout') }}">Logout</a>
                                                </div>
                                        {% else %}
                                                <div class="nav-item">
                                                        <a href="{{ path('app_login') }}">Login</a>
                                                </div>
                                        {% endif %}

                                        <div class="nav-item">
                                                <a href="{{ path('home') }}">Retour au site</a>
                                        </div>

                                </div>

                        {% else %}

                                <div class="nav-container">

                                        <div class="img">
                                                <a href="{{ path('like') }}"><img src="{{ asset('build/images/zikmu_logo.png') }}" alt=""></a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('search') }}">Parcourir</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('albums') }}">Albums</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('artists') }}">Artistes</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('genres') }}">Genres</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('playlists') }}">Playlists</a>
                                        </div>

                                        <div class="nav-item">
                                                <a href="{{ path('like') }}">Favoris</a>
                                        </div>

                                        {% if app.user %}
                                                <div class="nav-item">
                                                        <a href="{{ path('app_logout') }}">Logout</a>
                                                </div>
                                        {% else %}
                                                <div class="nav-item">
                                                        <a href="{{ path('app_login') }}">Login</a>
                                                </div>
                                        {% endif %}

                                        {% if is_granted("ROLE_ADMIN")%}
                                                <div class="nav-item">
                                                        <a href="{{ path('admin_album_index') }}">ADMIN</a>
                                                </div>
                                        {%  endif %}

                                </div>

                        {% endif %}

                {% endblock %}

                {% block  main %}
                {% endblock %}

        </div>

{% endblock %}


{% block javascripts %}
        {{ encore_entry_script_tags('scripts') }}
{% endblock %}
</body>
</html>
