.artist-show-container {
        background-color: #111111;
        padding: 80px;
        color: white;
        width: 100vw;

        .artist-infos {


                .img {
                        margin-right: 40px;

                        img {
                                max-width: 100%;
                        }
                }

                .infos {

                        a {
                                color: $rose;
                        }

                        h3 {
                                font-weight: bold;
                                color: $bleu;
                        }
                }
        }

        .button {
                margin-top: 20px;

                .play {
                        background-color: $bleu;
                        border: 1px solid black;
                        border-radius: 20px;
                        padding: 5px 20px;
                }

                .like {
                        background-color: $bleu;
                        border: 2px solid black;
                        border-radius: 50%;
                        margin-left: 10px;

                        i {
                                color: black;
                        }
                }
        }

        .artist-song {
                margin-top: 40px;

                h2 {
                        font-weight: bold;
                        color: $bleu;
                }

                .table {
                        color: white;
                        margin: 40px 0;

                        .tr:hover {
                                background-color: #3d3d3d;
                        }

                        td {
                                border: none;
                        }

                        button {
                                background-color: white;
                                border: 2px solid white;
                                border-radius: 50%;
                                margin: 0;

                                &:hover {
                                        background-color: $bleu;
                                }

                                i {
                                        color: black;
                                }
                        }
                }
        }

        .albums-artist {

                h2 {
                        color: $bleu;
                        margin: 10px 0;
                }

                a {
                        color: white;
                        text-decoration: none;
                }

                .albums {
                        background-color: black;
                        border-radius: 10px;
                        margin: 20px 0;
                        padding: 20px;

                        &:hover {
                                background-color: #1a1a1a;
                                cursor: pointer;
                                border: 1px solid $rose;
                        }

                        .img {
                                margin: 10px auto;

                                img {
                                        width: 100%;
                                        border-radius: 10px;
                                }
                        }
                }
        }
}