.artist-container {
        background-color: $gris;
        width: 100vw;
        padding: 80px;
        color: white;

        h2 {
                color: $bleu;
                margin: 10px 0;
                font-weight: bold;
        }

        a {
                color: $bleu;
                text-decoration: none;
        }
        .artists {
                background-color: black;
                border-radius: 10px;
                margin: 20px 0;
                padding: 20px;

                &:hover {
                        background-color: #1a1a1a;
                        cursor: pointer;
                        border: 1px solid $bleu;
                }

                .img {
                        margin: 10px auto;

                        img {
                                width: 100%;
                                border-radius: 10px;
                        }
                }
        }
}

