<form method="post" action="{{ path('admin_artist_delete', {'id': artist.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
    <button class="admin-btn">Supprimer</button>
</form>
