{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-index">

                <div class="top">

                        <h1>Index des Artistes</h1>

                        <a href="{{ path('admin_artist_new') }}">Créer nouvel artiste</a>

                </div>

                <table class="table">
                        <thead>
                        <tr class="tr">
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Lien vers l'image</th>
                                <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for artist in artists %}
                                <tr>
                                        <td>{{ artist.id }}</td>
                                        <td>{{ artist.name }}</td>
                                        <td>{{ artist.pathImg }}</td>
                                        <td>
                                                <a href="{{ path('admin_artist_show', {'id': artist.id}) }}"><i class="fa-solid fa-eye"></i> </a>
                                                <a href="{{ path('admin_artist_edit', {'id': artist.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        </td>
                                </tr>
                        {% else %}
                                <tr>
                                        <td colspan="4">no records found</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
        </div>

{% endblock %}
