{% extends 'base.html.twig' %}

{% block main %}

        <div class="admin-main">

                <div class="top">

                        <h1>Création d'un Artiste</h1>
                        <a href="{{ path('admin_album_index') }}">retour à la liste</a>

                </div>

                {{ include('admin/artist/_form.html.twig') }}

        </div>
{% endblock %}
