{% extends 'base.html.twig' %}

{% block main  %}

    <div class="admin-show">

        <div class="top">

            <h1>Artiste</h1>

            <a href="{{ path('admin_artist_index') }}">retour à la liste</a>

        </div>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artist.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ artist.name }}</td>
            </tr>
            <tr>
                <th>Lien vers l'image</th>
                <td>{{ artist.pathImg }}</td>
            </tr>
            </tbody>
        </table>

        <div class="link">

            <button class="admin-btn"><a href="{{ path('admin_artist_edit', {'id': artist.id}) }}">édition</a></button>

            {{ include('admin/artist/_delete_form.html.twig') }}

        </div>

    </div>

{% endblock %}
