.login-form {
        background: rgb(2, 0, 36);
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(8, 152, 163, 1) 100%);
        color: white;
        height: 100vh;
        text-align: center;


        .img {
                padding: 20px;

                img {
                        width: 500px;
                }
        }

        h1 {
                font-weight: bold;
        }

        .input {
                display: flex;
                flex-direction: column;
                margin: 20px auto;

                input {
                        border: 2px solid black;
                        border-radius: 10px;
                        text-align: center;
                }
        }

        a {
                font-weight: bold;
                color: lightblue;
        }

        .button {
                margin: auto;

                button {
                        color: white;
                        background-color: black;
                        border: 1px solid white;
                        border-radius: 20px;
                        padding: 10px;

                        &:hover {
                                background-color: white;
                                color: black;
                                transform: scale(1.05);
                                border: 1px solid black;
                        }

                        &:active {
                                transform: translateX(1px);
                        }
                }
        }

        .copyright {
                margin-top: 30px;
        }
}