.register {
        background: rgb(2, 0, 36);
        background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(112, 7, 121, 1) 100%);
        color: white;
        height: 100vh;
        text-align: center;
        padding-top: 20vh;
        justify-content: space-between;

        h1 {
                font-weight: bold;
                margin-bottom: 10px;
                color: purple;
                font-size: 50px;
        }

        .form {
                display: flex;
                flex-direction: column;
        }

        .button {
                color: white;
                background-color: black;
                border: 1px solid white;
                border-radius: 20px;
                padding: 10px;

                &:hover {
                        background-color: white;
                        color: black;
                        transform: scale(1.05);
                        border: 1px solid black;
                }

                &:active {
                        transform: translateX(1px);
                }
        }

        .connexion {
                margin-top: 20px;
        }

        .conditions {
                margin: 30px;
        }

        a {
                font-weight: bold;
                color: purple;
        }

        label {
                display: flex;
                flex-direction: column;
                margin: 20px auto;
        }

        input {
                border: 2px solid black;
                border-radius: 10px;
                text-align: center;
        }
}
