{% extends 'base.html.twig' %}

{% block main %}
        {% dump %}


        {% for like in user.likes %}
                <div class="div">
                        <p>{{ albumLiked }}</p>
                        <p>{{ like.album.name|default ('null') }}</p>
                        <p>{{ like.artist.name|default ('null') }}</p>
                        <p>{{ like.genre.name|default ('null') }}</p>
                        <p>{{ like.playlist.name|default ('null') }}</p>
                        <p>{{ like.song.name|default ('null') }}</p>
                </div>
        {% endfor %}


{% endblock %}

