.genre-container {

        h2 {
                text-align: center;
                margin-bottom: 20px;
        }

        .albums-container {

                h3 {
                        color: $bleu;
                        margin: 10px 0;
                }

                a {
                        color: white;
                        text-decoration: none;
                }

                .albums {
                        background-color: black;
                        border-radius: 10px;
                        margin: 20px 0;
                        padding: 20px;

                        &:hover {
                                background-color: #1a1a1a;
                                cursor: pointer;
                                border: 1px solid $bleu;
                        }

                        .img {
                                margin: 10px auto;

                                img {
                                        width: 100%;
                                        border-radius: 10px;
                                }
                        }
                }
        }

        .artists-container {

                h3 {
                        color: $bleu;
                        margin: 10px 0;
                }

                a {
                        color: white;
                        text-decoration: none;
                }

                .artists {
                        background-color: black;
                        border-radius: 10px;
                        margin: 20px 0;
                        padding: 20px;

                        &:hover {
                                background-color: #1a1a1a;
                                cursor: pointer;
                                border: 1px solid $bleu;
                        }

                        .img {
                                margin: 10px auto;

                                img {
                                        width: 100%;
                                        border-radius: 10px;
                                }
                        }
                }
        }
}